.inter-font {
  font-family: "Inter", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.gradient{
    background:linear-gradient(45deg,#F7E93F, #FB09B4, #9100F8)
}
        /* navbar section here */
header{
    background-color: #1A0B2E;
    border-bottom: 2px solid #9100f8cf;
}
nav{
    display: flex;
    width: 75%;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0px;
}

.logo{
    color: white;
}

.logo .Wave{
    background: linear-gradient(45deg,#F7E93F, #FB09B4, #9100F8);
    background-clip: text;
    color: transparent;
}

.menu ul{
    display: flex;
    gap: 32px;
    list-style: none;
}

.menu ul a{
    color: #FFFFFF;
    opacity: 90%;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
}

.menu-bar{
    display: none;
}

.first-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    padding: 12.5px 16px;
    border-radius: 20px;
    border: none;
    color: white;
    font-size: 1rem;
}


@media screen and (max-width:576px) {

    nav{
        width: 90%;
        align-items: center;
    }
    nav .menu, .first-btn{
        display: none;
    }

    .menu-bar{
        display: grid;
        color: white;
    }
}


