.inter-font {
  font-family: "Inter", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.gradient{
    background:linear-gradient(45deg,#F7E93F, #FB09B4, #9100F8)
}

nav{
    display: flex;
    background-color: #1A0B2E;
}

.logo{
    color: white;
}

.menu ul{
    display: flex;
    list-style: none;
}

.menu ul a{
    color: white;
}

button{
    padding: 12.5px 16px;
    border-radius: 20px;
    border: none;
}